.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;

    .footerLogo {
        width: 122px;
        height: 40px;
        margin: 4rem 0 1.8rem 0;
    }

    .footerText {
        color: white;
        font-weight: 500;
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }
}