.banner {
    position: relative;
    width: 100%;
    height: 13.9rem;
    background-color: #000000;
    border-radius: 25px;
    margin-top: 2.7rem;
    margin-bottom: 1rem;

    &__title {
        position: absolute;
        z-index: 999;
        color: #FFF;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        text-align: center;
        font-weight: 700;
        font-size: 3rem;
    }

    &__image {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            border-radius: 25px;
            object-fit: cover;
        }
    }

    &__home {
        img {
            filter: brightness(40%)
        }
    } 
    
    &__about {
        img {
            filter: brightness(70%);
        }
    }
}

@media (max-width: 768px) {
    .banner {
        height: 6.9rem;
        margin-top: 1.65rem;
        margin-bottom: 1.35rem;

        &__title {
            width: 14.5rem;
            font-size: 1.5rem;
            text-align: left;
            padding: 0 3rem 0 0;
        }

        &__image {

            img {
                border-radius: 10px;
            }
        }

        &__about {
            margin-bottom: 0;
        }
    }
}

