.notFound {
    color: #FF6060;
    display: flex;
    flex-direction: column;
    align-items: center;

    .notFoundNumber {
        font-size: 16rem;
        font-weight: 700;
        margin: 8rem 0;
    }

    .notFoundText {
        font-size: 2rem;
        font-weight: 500;
        margin: 0;
    }

    .notFoundLink {
        color: black;
        font-size: 1rem;
        font-weight: 500;
        margin: 8rem 0;
    }
}